$boder-color: #cec5c5;

.card-container {
  background-color: white;
  border: 1px solid $boder-color;
  border-radius: 5px;

  .card-header {
    border-bottom: 1px solid $boder-color;

    h3 {
      padding-left: 20px;
      margin: 0;
      font-weight: 400;
      color: #212121;
    }

    mat-icon {
      cursor: pointer;

      &:hover {
        color: #424242;
        text-shadow: 1px 1px 1px #c5c5c5;
      }
    }
  }

  .card-body {
    padding: 15px;

    .options {
      font-size: 1.4em;
      cursor: pointer;

      &.btn-delete {
        color: #ff0000;
      }

      &.btn-edit {
        color: #5382ed;
      }

      &:hover {
        text-shadow: 1px 1px 1px #c5c5c5;
      }
    }
  }
}

::ng-deep .ngx-datatable.material {
  box-shadow: none;
}
